<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="I:/Skill/Selenium/Gradle Projects/mebaalee-ME_QA_XYOUTUBE">
        <classes>
        <class name = "demo.TestCases"> </class>
        </classes>
    </test>
</suite>